/*
 * Once upon a time...
 */

:root {
  --birthDate: 1924px;
  --deathDate: 1936px;
}

body {
  background: #000;
}

/* ...there was a squirrel named Squeaky */

#dracula {
  opacity: 0;
  display: none;
  visibility: hidden;
  font-family: 'Hundred Acre Wood';
  height: calc(var(--deathDate) - var(--birthDate));
}

.cape {
  background: #ff0000 !important;
}

h1.mystyle:lang(en) {
  color: blue; /* TODO: change THIS to yellow for next version! */
  border: rgb(255, 0, 0);
  background-color: #fafafa;
  background: url(hello.jpg) !important;
}

div > p,
p ~ ul,
input [type='radio'] {
  color: green;
  width: 80%;
}

@font-face {
  font-family: 'Hundred Acre Wood';
  src: url('/location/Hundred Acre Wood.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@media (prefers-reduced-motion: no-preference) {
  .some-element {
    animation: bounce 1200ms;
  }
}

@starting-style {
  .item {
    opacity: 0;
    height: 0;
  }
}
